.food-action {
  text-align: right;
}

.action-label {
  font-size: 0.8rem;
  padding-left: 2rem;
  color: Black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.action-input {
  margin-left: 10px;
  border: 1px solid red;
  width: 3rem;
  height: 25px;
  margin-right: 1rem;
}
.action-button {
  width: 6rem;

  padding: 0.3rem;
  margin-top: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 20px;
}
