.header {
  display: flex;
  background-color: brown;
  padding: 1px 8rem 1px;
  align-items: center;
  justify-content: space-between;
  margin-left: 14rem;
  margin-right: 14rem;
  border-radius: 0.2rem;
}

.header h1 {
  color: white;
}

.cart-header {
  color: white;
  margin: 1rem;
  padding-top: 0rem;
  /* padding-bottom: 1rem; */
}
