.App {
  background-color: black;
}

.header-img {
  width: 65%;
  margin-left: 14rem;
  /* padding-left: 20%;
  padding-right: 30%; */
  height: 16rem;
  border-radius: 0.2rem;
  border: 1px solid yellow;
}
